body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/control-system.png");
  background-color: rgb(180, 180, 110);
}

.my_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#box {
  position: fixed;
  background-color: none;

  padding-left: 575px;
  display: block;
}
#img1 {
  padding-left: 10px;

  position: fixed;
  visibility: hidden;
  z-index: 2;
}
#img2 {
  width: 50px;
  padding-top: 20px;
  padding-left: 1075px;
  position: fixed;
  z-index: 2;
}
#mushroom {
  width: 100px;
  height: 100px;
  padding-top: 300px;
  padding-left: 660px;
  position: fixed;
  visibility: visible;
}
#gost {
  width: 100px;
  height: 100px;
  padding-top: 300px;
  left: 850px;
  position: fixed;
}
#thwomp {
  padding-top: 50px;
  width: 120px;
  margin-left: 810px;
  height: 150px;
  position: fixed;
}

.funnel {
  padding-top: 50px;
  width: 100px;
  height: auto;
  position: fixed;
  padding-left: 550px;
}
.funnel2 {
  padding-top: 50px;
  width: 100px;
  height: auto;
  position: fixed;
  padding-left: 1050px;
}
.funnel,
.funnel2 {
  max-width: 100%;
}
#bowser {
  width: 120px;
  height: 120px;
  padding-top: 86px;
  margin-left: 1160px;
  position: fixed;
}
.tapis {
  height: auto;
  width: 275px;
  margin-left: 470px;
  margin-top: 390px;
  position: fixed;
}
.tapis2 {
  height: auto;
  width: 275px;
  margin-left: 732px;
  margin-top: 390px;
  position: fixed;
}
.tapis3 {
  height: auto;
  width: 275px;
  margin-left: 994px;
  margin-top: 390px;
  position: fixed;
}

.machinearticule {
  display: flex;
  height: 80%;
  width: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  position: fixed;
}
#conveyor {
  position: fixed;
  height: 10%;
  width: 420px;
}
.bras {
  position: fixed;
  padding-left: 100px;

  height: 100%;
}
#arm {
  padding-left: 330px;
  height: 220px;
  width: auto;
  padding-top: 30px;
}

#tuyau {
  width: 100px;
  padding-left: 320px;
  height: 40%;
  position: fixed;
  bottom: 0;
}
#emoticon {
  padding-top: 160px;
  position: fixed;

  height: 60px;
  width: 60px;
}
/*Design des bouttons */

a {
  position: relative;
  width: 100%;
  padding-top: 25.92%;
  display: block;
  background-size: 100% 100%;
  font-family: "luckiest guy";
  font-size: 28px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}

a.background-button {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-shadow.png);
}
a.background-button:after {
  content: attr(title);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-top.png);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.background-button:hover:after {
  -webkit-transform: translate(2.5%, 10%);
  transform: translate(2.5%, 10%);
  text-shadow: 2px 2px 1px white;
  color: black;
}

.button-wrapper {
  width: 355px;
  display: inline-block;
  margin: 20px;
}
.button-wrapper:nth-child(2) a {
  -webkit-filter: hue-rotate(36deg);
  filter: hue-rotate(36deg);
}
.button-wrapper:nth-child(3) a {
  -webkit-filter: hue-rotate(72deg);
  filter: hue-rotate(72deg);
}
.button-wrapper:nth-child(4) {
  -webkit-filter: hue-rotate(108deg);
  filter: hue-rotate(108deg);
}
.button-wrapper:nth-child(5) {
  -webkit-filter: hue-rotate(144deg);
  filter: hue-rotate(144deg);
}
.button-wrapper:nth-child(6) {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.button-wrapper:nth-child(7) {
  -webkit-filter: hue-rotate(216deg);
  filter: hue-rotate(216deg);
}
.button-wrapper:nth-child(8) {
  -webkit-filter: hue-rotate(216deg);
  filter: hue-rotate(216deg);
}

.button-wrapper:nth-child(9) {
  -webkit-filter: hue-rotate(252deg);
  filter: hue-rotate(252deg);
}

.button-wrapper:nth-child(7) {
  -webkit-filter: hue-rotate(288deg);
  filter: hue-rotate(288deg);
}

.button-wrapper:nth-child(8) {
  -webkit-filter: hue-rotate(324deg);
  filter: hue-rotate(324deg);
}

/* Fin du design des bouttons*/

.quatreboutons {
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 90%;
  margin: 0;

  padding: 2.5% 5%;
}
#audioplayer {
  width: 480px;
  height: 75px;
  margin: 50px auto auto auto;
  border: solid;
  text-align: center;
  background-color: rgba(5, 173, 13, 0.49);
}
#audio_controller {
  width: 100%;
  text-align: center;
}
#pButton {
  height: 60px;
  width: 60px;
  border: none;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  outline: none;
}

.play {
  background: url("Play_button.png");
}
.pause {
  background: url("Pause_button.png");
}

#timeline {
  width: 400px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  border: black 1px solid;
  display: block;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
}

#playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 0, 0, 1);
}

#volume_control {
  margin: auto;
  width: 50%;
}

#rngVolume_label {
  vertical-align: middle;
}

#rngVolume {
  margin-top: 8px;
  vertical-align: middle;
}
